In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

In [6]:
#Remove later
import os
os.chdir("C:/Users/Joanne/Documents/Statistics/")

# Read in the Data

In [7]:
df_tic = pd.read_table("2023-08-18-IS-tic.csv",sep=',',header=None)
df_tic.head()

C:\Users\Joanne\Documents\Statistics

,0,1,2,3,4,5,6,7,8,9,...,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_labels = pd.read_table("2023-08-18-MixDat.csv",sep=',')
df_labels.head()

,ilfn,ilsubclass,class,pctevap,fil,s_to_i,sfn.1,sfn.2,sfn.3,fsub.1,fsub.2,fsub.3
0,00000241.CDF,AL,IL,0.125,0.31,89.949758,Dataset M00001000.CDF,Dataset M00000372.CDF,NaN,0.33,0.36,NaN
1,00000592.CDF,AL,IL,0.125,0.82,23.933158,Dataset M00000562.CDF,Dataset M00000047.CDF,Dataset M00000572.CDF,0.06,0.04,0.07
2,00000176.CDF,AL,IL,0.750,0.36,13.152248,Dataset M00000721.CDF,NaN,NaN,0.64,NaN,NaN
3,00000169.CDF,AL,IL,0.500,0.55,80.723503,Dataset M00001231.CDF,Dataset M00001451.CDF,NaN,0.32,0.13,NaN
4,00000305.CDF,AL,IL,0.750,0.60,683.911647,Dataset M00000610.CDF,Dataset M00000159.CDF,NaN,0.06,0.34,NaN

# Split into train and test groups

In [11]:
from sklearn.model_selection import train_test_split
feat_train, feat_test, resp_train, resp_test = train_test_split(df_tic, df_labels, test_size=0.25)
# print(feat_train.head())

       0     1     2     3     4     5     6     7     8     9     ...  2790  \
15993     0     0     0     0     0     0     0     0     0     0  ...     0
11319     0     0     0     0     0     0     0     0     0     0  ...     0
11181     0     0     0     0     0     0     0     0     0     0  ...     0
34480     0     0     0     0     0     0     0     0     0     0  ...     0
33545     0     0     0     0     0     0     0     0     0     0  ...     0

       2791  2792  2793  2794  2795  2796  2797  2798  2799
15993     0     0     0     0     0     0     0     0     0
11319     0     0     0     0     0     0     0     0     0
11181     0     0     0     0     0     0     0     0     0
34480     0     0     0     0     0     0     0     0     0
33545     0     0     0     0     0     0     0     0     0

[5 rows x 2800 columns]

# Scale and Center Columns with Mean and Standard Deviation

In [12]:
# Code from knn_svm_python.ipynb
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# get mean and standard deviation for each column according to train data
scaler.fit(feat_train)
# scale columns of train and test data
feat_train = scaler.transform(feat_train)
feat_test = scaler.transform(feat_test)

pd.DataFrame(feat_train).head()

,0,1,2,3,4,5,6,7,8,9,...,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0